/**
 * Created by Rayr Lee on 2018/11/5.
 */

html, body {
    font-family: 'helvetica neue', 'arial', 'microsoft yahei ui', 'microsoft yahei', 'simsun', 'sans-serif' !important;
}

a {
    cursor: pointer;
}

button {
    outline: none !important;
}

.error-page > .headline {
    float: none;
    text-align: center;
}

.error-page > .error-content {
    margin: 0;
    text-align: center;
}

.nav-tabs-custom > .nav-tabs > li.header {
    font-size: 16px;
    line-height: 40px;
}
