/**
 * Created by Rayr Lee on 2018/11/5.
 */

html, body {
    font-family: 'helvetica neue', 'arial', 'microsoft yahei ui', 'microsoft yahei', 'simsun', 'sans-serif' !important;
}

a {
    cursor: pointer;
}

button {
    outline: none !important;
}
