/**
 * Created by Rayr Lee on 2018/11/6.
 */

.login-page {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url("../assets/images/bg.jpg") no-repeat;
    background-size: cover;
}

.lds-box {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #00c0ef ;
    border-color: #00c0ef  transparent #00c0ef  transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
