/**
 * Created by Rayr Lee on 2018/11/6.
 */

.login-page {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url("../assets/images/bg.jpg") no-repeat;
}

.rayr-sidebar-menu {
    .rayr-active {
        background: #1e282c;
        color: #fff !important;
    }
}
